/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC (YOUR GUIDE)
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 343px;
    background-image: url("images/background.jpg");
    background-size: cover;
    margin: 0;
}

#visit {
    width: 360px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    background: #1D3557;
    padding: 5px 5px 0 5px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
    color: #ffffff;
}

#city {
    width: 300px;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    background: #457B9D;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 5px 0 10px 0;
    color: #ffffff;
}

.activities {
    background-color: #F1FAEE;
    width: 720px;
    height: 300px;
    margin: 0px;
}
/* Why is h 3 causing guide to be all messed up? This can b clue to troubleshooting. try new 1
/*

/* h3 { 
    width: 700px;
    height: 20px;
    margin: 100px auto 30px auto; 
    color: #1D3557; 
}   */

h3 {
    color: #1D3557; 
}



h4 {
    color: #1D3557; 
    margin-top: 12px;
    margin-bottom: 12px;
}

p {
    color: #1D3557; 
}

#activities-heading {
    margin-top: 0px;
    padding-top: 10px
}

.columns {
    display: flex;
    justify-content: space-around;
}

.each-column {
    max-width: 150px;
    text-align: center;
}

.guide {
    width: 720px;
    height: 394px;
    background: linear-gradient(#D51CD5, #251F47);
    padding-top: 75px
}

.card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    height: 294px;
    margin: 0 auto;
    padding: 5px 10px;
    background: #ddebf8;
    color: #2b2839;
    box-shadow: 0px 6px 0px 0px #1D3557;
    border-radius: 10px;
}

#your-guide {
    margin-top: 18px;    
}


img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
} 

#stuart-pic {
    width: 180px;
    height: 280px;
    border-radius: 10px;
    max-width: 100%;
    padding: 5px 10px 5px 10px;
} 

.italic {
    font-style: italic;
    max-width: 180px
}